html, body, select, option, div, ul, li {
	padding: 0;
	border: 0;
}

body {
	position: relative;
}

h1 {
	letter-spacing: 1px;
	font-size: 24px;
	color: rgba(255, 255, 255, .8);
}

h2 {
	padding-left: 50px;
}

path.census-block {
  stroke: black;
  stroke-width: 0.25px;
}

.tick line {
  stroke: #666;
  stroke-width: 1.5px;
  fill: none;
}

.tick text {
	text-anchor: start !important;
}

div#content {
	width: 1200px;
}

div#vis, div#twitter-vis {
	float: left;
}

.twitter-distance-scale {
	transform: translate(250px, 250px);
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 150px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: rgba(100, 100, 100, .9);
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.scale-label {
	transform: translate(25px, 10px) rotate(70deg);
}

.twitter-distance-reading {
	transform: translate(0, 16px);

}

.twitter-post-stats {
	transform: translate(250px, 16px);
}

div.twitter-tooltip {	
    position: absolute;			
    text-align: center;			
    width: 	150px;					
    padding: 2px;				
    font: 14px sans-serif;
    background: rgba(255, 255, 255, .9);		
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}



